.signup-wrapper {
  background-image: url("../../assets/signup/loginBackground.jpg");
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;

  .register {
    color: white;
    padding: 30px 0px;
    input {
      background-color: transparent;
      color:#fff;
      width: 100%;
    }

    .register-form {
      max-width: 500px;
      border: 1px solid #0f1d2b;
      margin-left: -13px;
      h3 {
        font-size: 24px;
        font-family: math;
        text-align: center;
        border-bottom: 2px solid #5e97c8;
        padding-bottom: 20px;
        letter-spacing: 0.2rem;
      }

      .register span {
        color: #adb5bd;
      }

      #form {
        // max-width: 320px;
        width: 100%;
        margin: 2em auto;
        padding: 0px 18px;
      }

      #form>input,
      .btn {
        border: 1px solid #e9ecef;
        padding: 0.9em 1em;
      }

      .password_Input {
        position: relative;
        display: flex;

        input,
        .btn {
          border: 1px solid #e9ecef;
          // padding: 0.9em 1em;
          // width: 320px;
          display: block;
        }
        .iconStyle{
          position: absolute;
          top:5px;
        }
        input:focus {
          outline: none;
        }

        span {
          position: absolute;
          right: 20px;
          top: 15px;
        }
      }

      Select {
        border: 1px solid #e9ecef;
        // padding: 0.9em 1em;
        // width: 320px;
      }

      #form>input:focus {
        outline: none;
      }
      
        #form>.btn {
        background-color: #003049 !important;
        color: #e9ecef;
        font-size: 1em;
        cursor: pointer;
        padding: 6px 15px;
        width: 220px;
      }
      .nxt-btn ,.prev-btn{
        text-align: center;
        .btn{
          background-color: #003049;
          color: #e9ecef;
          font-size: 1em;
          cursor: pointer;
          padding: 6px 15px;
          width: 220px;
          transition: .5s;
          &:hover{
            background-color: #ec6100;
          }
        }
      }
      .flex {
        display: flex;
        gap: 1em;
      }

      .flex-col {
        flex-direction: column;
      }
    }

    .registerImage img {
      width: 100%;
      height: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      display: flex;
    }
    .quotes{
      text-align: center;
      letter-spacing: 1.9px;
      a{
        text-decoration: none;
        color: #ec6100;
        transition: .4s;
        &:hover{
          color:#5e97c8;
        }
      }
    }
    @media screen and (max-width: 767px) {
      .registerImage {
        display: none;
      }
    }
  }
}