.loginWrapper {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 60px;
  background-image: -webkit-linear-gradient(346deg, rgb(255, 255, 255) 56%, #003049 0%);
  background-position: right center;
  background-size: contain;
  height: 100vh;

  .loginAppText {
    background: white;
    padding: 10px 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    position: absolute;
    right: 0;
    margin-top: 120px;
  }

  span {
    color: #adb5bd;
  }

  .loginForm {
    margin-top: 120px;

    .formWrapper {
      border: 2px solid aliceblue;
      box-shadow: 0 0 2px 0px;

      #form {
        max-width: 320px;
        margin: 2em auto;

        h2 {
          font-size: 24px;
          font-weight: 100;
          font-family: math;
          letter-spacing: 2px;
          text-align: center;
          border-bottom: 2px solid #96bfe4;
          padding-bottom: 20px;
        }
      }
    }

    #form input {
      border: 1px solid #e9ecef;
      padding: 0.9em 1em;
      display: flex;
    }

    .password_Input {
      display: flex;
    }

    .password_Input_Field {
      position: relative;
    }

    .icon_eys {
      position: absolute;
      top: 15px;
      right: 10px;
    }

    #form>.btn {
      background-color: darkgoldenrod;
      color: #e9ecef;
      font-size: 1em;
      cursor: pointer;
      width: 105px;
      height: 50px;
      margin-left: 72px;
    }

    .flex {
      display: flex;
      gap: 1em;
    }

    .flex-col {
      flex-direction: column;
    }

    @media screen and (max-width: 767px) {
      .registerImage {
        display: none;
      }
    }
  }
}