.range-slider-container {
  margin: 70px 0 0 0;
  padding: 50px;
  background-color: #e6dacbc2;
  border-radius: 30px;
  box-shadow: 0 0 10px 0px;
  .bidding-section {
    #headingTitle {
      margin: 60px 0 0 0;
      text-align: center;
      font-size: 28px;
      letter-spacing: 4px;
    }
    .rangeCol {
      p {
        margin: 60px 0px 20px 0;
      }
    }
    .bidValue {
      margin: 80px 0 0 0;
    }
    .totalValue {
      float: right;
      border: 2px solid #86a9c8;
      padding: 10px;
      width: 120px;
      height: 40px;
      text-align: center;
    }
  }
  .bid-success-rate {
    .p {
      margin: 100px 0 20px 0;
    }
    .bid-per-year {
      margin: 60px 0 40px 0;
    }
    .totalValue {
      float: right;
      border: 2px solid #86a9c8;
      padding: 10px;
      width: 120px;
      height: 40px;
      text-align: center;
    }
    .title{
        text-align: center;
        color: #362e6a;
        letter-spacing: 2px;
        font-size: 20px;
    }
  }
  @media screen and ( max-width : 767px ) {
    .bidding-section {
    #headingTitle {
      margin: 40px 0 0 0;
      text-align: center;
      font-size: 20px;
      letter-spacing: 2px;
    }
  }
  }
}
