.home-page-wrapper {
  background-color: #174570;

  .left-pera-content {
    @media screen and (max-width : 768px) {
        padding-left: 20px;
        .pera-heading {
          font-size: 34px !important;
        }
    }
    .pera-heading {
      color: white;
      font-size: 38px;
      font-weight: 600;
      margin: 100px 0 0 0;
      letter-spacing: 2px;
      span {
        color: darkgoldenrod;
      }
    }

    .pera-titile {
      color: white;
      margin: 20px 0 0 0;
    }

    Button {
      background-color: darkgoldenrod;
      border-color: darkgoldenrod !important;
      border-radius: 10px;
      margin: 50px 0 70px 0;
    }
  }
}