.subscribe-update {
    background-color: #0a3761;
    margin-top: 100px;
    border-radius: 40px;
    color: white;
    p {
        font-size: 32px;
        margin: 40px 0 10px 0px;
        text-align: center;
        font-family: inherit;
    }

    span {
        display: block;
        text-align: center;
        font-weight: 100;
        letter-spacing: 1px;
        font-family: emoji;
    }
    .subscribeBtn {
        padding: 40px 0 60px 0;
        input {
            border-radius: 10px;
            width: 300px;
            float: right;
        }
        button{
            background-color: darkgoldenrod;
            border: none !important;
            margin-left: -15px;
            width: 100px;
            height: 38px;
        }
    }
}
