.wrapper {
  height: 100%;
  width: 100%;
  display: flex;

  .header-section {
    h3 {
      margin-top: 10px;
      margin-bottom: 1rem;
      text-align: center;
      font-family: fangsong;
      letter-spacing: 1.2px;
      border-bottom: 2px solid;
    }

  }

  .content-area {
    h3 {
      font-style: italic;
      font-family: math;
      letter-spacing: .1rem;
    }

    h4 {
      float: right;
      font-style: italic;
      font-family: math;
      letter-spacing: .1rem;
    }

    h5 {
      margin-top: 6rem;
      font-style: normal;
      line-height: 0px;
      color: #3e3e3e;
      font-family: Libre Baskerville;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: .08em;
    }

    p {
      color: black;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: .02em;
      margin-left: 1rem;
      margin-top: 2rem;
    }
  }

  .admin-details {
    margin-top: 40px;
    .profile {
      display: flex;
      border-radius: 100%;
      width: 150px;
      height: 150px;
      margin: 0px auto;
      img {
        border-radius: 100%;
        height: 150px;
        width: 150px;
        position: absolute;
      }
    }

    .field-area {
      input {
        margin: 14px 0px 10px 30px;
        font-family: inherit;
        width: 230px;
        font-size: inherit;
        background: no-repeat;
        padding: 10px;
        border: 2px solid #dadee2;
        border-bottom-left-radius: 28px;
        border-bottom-right-radius: 28px;
        border-top-left-radius: 28px;
        border-top-right-radius: 28px;
      }
    }
    .button {
      color: white;
      background-color: #0a3761;
      border-radius: 6px;
      height: 44px;
      width: 100%;
      margin: 20px 0px 40px 32px;
      border-bottom-left-radius: 28px;
      border-bottom-right-radius: 28px;
      border-top-left-radius: 28px;
      border-top-right-radius: 28px;
    }
  }
}